@model IList<dynamic>

@for(int i = 0; i < Model?.Count-1; i++)
{
    @Html.EditorFor(m=>m[i])
}






@*@foreach (var prop in ViewData.ModelMetadata.Properties
                            .Where(p => p.ShowForEdit))
{
    if (prop.TemplateHint == "HiddenInput")
    {
        @Html.Hidden(prop.PropertyName)
    }
    else
    {
        <div class="form-group">
            @Html.Label(prop.PropertyName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.Editor(prop.PropertyName)
                @Html.ValidationMessage(prop.PropertyName)
            </div>
        </div>
    }
}*@